.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 40px;
  }

  span {
    font-size: 24px;
    margin-left: 12px;
    margin-top: 9px;
    font-weight: bold;
  }

  p {
    color: #9b51e0;
    font-size: 18px;
    font-size: 24px;
  }
}

.width100 {
  width: 100%;
}
