@import "@/styles/_general_styling.scss";

.appBar {
  position: fixed;
  width: 100%;
  background-color: $primary;
  color: $main;
  top: 0;
  z-index: 1;
  border-radius: 0 0 26px 26px;
}

.configIcon {
  position: absolute;
  top: 35px;
  right: 31px;
  z-index: 1;
}

.title {
  margin: 12px;
  font-size: 52px;
  width: 100%;
  text-align: center;
}

